.bab_searchChangeRealm label {
	margin:.4em;
	display:block;
	font-weight:bold;
}

#bab_searchForm #bab_search_realm {
	margin:.9em;
	padding:1em;
	background:#fff url('images/search.gif') no-repeat top right;
	border:#000 1px solid;
}



#bab_searchForm p {
	margin: 0;
}

#bab_searchForm label {
	margin:.4em;
	display:block;
}
#bab_searchForm.folded label {
	margin:0;
	display: inline-block;
	display: -moz-inline-block;
}

.bab_searchForm {
	margin:.3em;
	padding:0 1em 0 1em;

}

.bab_searchForm p {
	margin:0 0 .5em 0;
	line-height:1.4em;
}

#bab_searchForm .bab_searchFormButton {
	display: block;
	vertical-align: top;
	cursor: pointer;
	font-weight: bold;
	padding: 4px 5px 4px 21px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-position: 1px center;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url("images/minus.gif");
}
#bab_searchForm.folded .bab_searchFormButton {
	background-image: url("images/plus.gif");
}
#bab_searchForm .bab_searchFormButton:hover {
	padding: 3px 4px 3px 20px;
	border: 1px solid #999;
	background-position: 0px center;
}


#bab_searchForm #bab_search_button {
	display: block;
	text-align: right;
	padding: 1em;
	
}

#bab_searchForm #bab_search_content p {
	margin-bottom: 0.3em;
}

#bab_searchForm.folded #bab_search_content,
#bab_searchForm.folded #bab_search_realm,
#bab_searchForm.folded #bab_search_button {
	display: none;
}



.bab_SearchResults .bab_SearchRealm {

	border:#ccc 1px solid;
	margin:1em .4em;
}

.bab_SearchRealm h5 {
	margin:0 0 .8em 0;
	background:#eee;
	padding:.3em 1em;
}


.bab_SearchRecords {
	margin:.5em .5em;
}




.bab_SearchRecords .bab_SearchRecord {
	margin:.4em 0;
	padding:.8em 0;
	background:#fff;
	border-bottom:#ccc 1px solid;
	line-height:1.5em;
}


.bab_SearchRecords .bab_SearchRecord .icon {
	margin: 0 .8em .2em 0;
}


.bab_SearchRecord h6 {
	padding:.2em;
	margin:.2em 0;
}

.bab_SearchRecord h6 img {
	vertical-align:middle;
}


.bab_SearchRecord .bottom {
	padding:.3em .5em;
	border:#ccc 1px solid;
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#eee;
}

.bab_SearchRecord .bottom a,
.bab_SearchRecord .bottom a:visited {

	color:#315474;
	font-weight:bold;
	text-decoration:none;
}

.bab_SearchRecord .bottom a:hover {
	text-decoration:underline;
}


.bab_SearchRecords img.thumbnail {
	border:#666 1px solid;
	margin:0 5px;
}




.bab_navbar a,
.bab_navbar .selectedpage {
	padding:.1em .3em;
	margin:0 .1em;
}


.bab_navbar a {
	
	border:#ccc 1px solid;
	background-color:#eee;
	color:#444;
	text-decoration:none;
}

.bab_navbar .selectedpage {
	border:#82abff 1px solid;
	background:#c9d9fb;
	color:#2f2f9d;
	font-weight:bold;
}


.bab_navbar p a:hover {
	color:#000;
	background-color:#bbb;
	border:#999 1px solid;
}


.bab_navbar .comment {
	color:#777;
}


.bab_navbar .previous {
	background-repeat:no-repeat;
	background-position:2% 50%;
	background-image:url('images/arrow_left.gif');
	padding-left:18px;
}


.bab_navbar .next {
	background-repeat:no-repeat;
	background-position:98% 50%;
	background-image:url('images/arrow_right.gif');
	padding-right:18px;
}



.tag_cloud {
	text-align:justify;
	line-height:2.8em;
}

.tag_cloud a {
	text-decoration:none;
	margin: 0 .6em;
	vertical-align:middle;
	font-family:Arial;
	padding:3px 5px;
	white-space:nowrap;
}

.tag_cloud a:hover {
	text-decoration:none;
	background:#fff;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}