<!--#begin searchform -->

<script type="text/javascript">
// <!--
function bab_searchChangeRealm() {
	var sf = document.forms.searchForm;
	sf.order.value = "";
	sf.field.value = "";
	sf.idx.value = "";
	sf.submit();
}

bab_initFunctions.push(function() {

	var searchForm = document.getElementById('bab_searchForm');

	var unfold = document.createElement("span");
	unfold.className = 'bab_searchFormButton';

	if ("{ search_form_folded }" == "0") {
		searchForm.className = 'unfolded';
		unfold.appendChild(document.createTextNode("{ t_hide_search_form }"));
	} else {
		searchForm.className = 'folded';
		unfold.appendChild(document.createTextNode("{ t_show_search_form }"));
	}

	unfold.onclick = function () {
		if (searchForm.className == 'folded') {
			searchForm.className = 'unfolded';
			unfold.firstChild.nodeValue = "{ t_hide_search_form }";
		} else {
			searchForm.className = 'folded';
			unfold.firstChild.nodeValue = "{ t_show_search_form }";
		}
	};

	searchForm.insertBefore(unfold, searchForm.firstChild);
}
); 

// -->
</script>


<form name="searchForm" method="get" action="{ babPhpSelf }">
<input type="hidden" name="tg" value="addon/search/main" />
<input type="hidden" name="idx" value="find" />
<input type="hidden" name="navpos" value="0" />
<input type="hidden" name="navitem" value="" />
<input type="hidden" name="field" value="{ field }" />
<input type="hidden" name="order" value="{ order }" />
<input type="hidden" name="advenced" value="{ htmlfields[advenced] }" />



<div class="BabLoginMenuBackground">
<div  id="bab_searchForm">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>

	<td valign="top">
	<div id="bab_search_realm">
	
		<label for="">{ t_in } :
		<select name="item" onchange="bab_searchChangeRealm()">
		  <option value="">{ t_all }</option>
		  <!--#in getnextitem -->
			<option { selected } value="{ itemvalue }">{ itemname }</option>
		  <!--#endin getnextitem -->
		</select>
		</label>
		
		<!--#if displaydelegation -->
		<label for="">{ t_delegation } :
		<select name="delegation" onchange="bab_searchChangeRealm()">
			<!--#in getnextdelegation -->
			<option value="{ uid }" <!--#if color -->style="background:#{ color }" <!--#endif color --> <!--#if selected --> selected="selected"<!--#endif selected -->>{ name }</option>
			<!--#endin getnextdelegation -->
		</select>
		</label>
		<!--#endif displaydelegation -->
		
	</div>
	</td>


	<td id="bab_search_content">
		{ search_form }
	</td>

</tr>
</table>
<div id="bab_search_button" >
		<input type="submit" name="go" value="{ t_search }" />
</div>


</div>
</div>


</form>




<!--#end searchform -->






<!--#begin navbar -->
<div align="center" class="bab_navbar">
	<p>
		<!--#if previous -->
		 <a href="{ urlprev }" class="previous">{ previous }</a>
		<!--#endif previous -->
			<!--#in getnext -->
			<!--#if selected -->
			 <span class="selectedpage">{ page }</span> 
			 <!--#else selected -->
			 <a href="{ urlpage }" class="page">{ page }</a> 
			 <!--#endif selected -->
			<!--#endin getnext -->
		<!--#if next -->
		 <a href="{ urlnext }" class="next">{ next }</a>
		<!--#endif next -->
	</p>
	<p class="comment">
		{ results } { from } { navpos } { to } { navposend } ({ nbrows } { results } / { countpages } { pages })
	</p>
</div>
<!--#end navbar -->






<!--#begin viewart -->

<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ title }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ head }</td>
	</tr>
	<tr>
		<td class="BabTopicsBackground">{ content }</td>
	</tr>
</table>

<!--#if counttags -->
<table border="0" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="BabTopicsTitleBackground">{ tags_txt }:&nbsp;
		<!--#in getnexttag -->
		<i>{ tagname }</i>&nbsp;&nbsp;
		<!--#endin getnexttag -->
		</td>
	</tr>
</table>

<!--#endif counttags -->
	
<!--#if countf -->
<p>{ attachmentxt } :</p>
<table width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_description }</td>
			<td align="center">{ t_index }</td>
		</tr>
		<!--#in getnextdoc -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td><a href="{ docurl }">{ docname }</a></td>
			<td>{ docdescription }</td>
			<td align="center">
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextdoc -->
		
	</table>
	</td>
	</tr>
</table>
<!--#endif countf -->


<!--#if countcom -->
<br /><br />
<table  width="100%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr> 
		<td class="BabLoginCadreBackground"> 
			<table  width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
			
			<tr>
				<td class="BabSiteAdminTitleFontBackground">{ commentstxt }</td>
			</tr>
			
			<!--#in getnextcom -->
			<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->

				<td align="left">
					<em>{ commentdate } - { authorname }</em>
					<h5>{ commenttitle }</h5>
					
					{ commentbody }
				</td>
			</tr>
			<!--#endin getnextcom --> 
			</table>
		</td>
	</tr>
</table>
		
<!--#endif countcom -->

<p align="center">
	<a href="javascript:this.close()">{ close }</a><span class="bab-article-{ articleid }"></span>
</p>

<!--#end viewart -->

<!--#begin viewfil -->

<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td class="BabMailBackground" align="center">

<br />
	<table class="BabSiteAdminFontBackground" border="0" width="95%" cellpadding="3" cellspacing="0" align="center">
	<tr>
		<td width="30%">{ pathtxt }</td>
		<td>{ path }</td>
	</tr>
	<tr>
		<td width="30%">{ description }</td>
		<td>{ arr[description] }</td>
	</tr>
	<tr>
		<td>{ keywords }</td>
		<td>{ arr[keywords] }</td>
	</tr>
	<!--#in getnextfield -->
	<tr>
		<td>{ field }</td>
		<td>{ fieldval }</td>
	</tr>
	<!--#endin getnextfield -->
	<tr>
		<td>{ sizetxt }</td>
		<td>{ size }</td>
	</tr>
	<tr>
		<td>{ modifiedtxt }</td>
		<td>{ modified }</td>
	</tr>
	<tr>
		<td>{ modifiedbytxt }</td>
		<td>{ modifiedby }</td>
	</tr>
	<tr>
		<td>{ createdtxt }</td>
		<td>{ created }</td>
	</tr>
	<tr>
		<td>{ postedbytxt }</td>
		<td>{ postedby }</td>
	</tr>
	</table>
	<br />
<a class="BabFaqLink" href="{ geturl }">
{ download }</a> <br />
</td>
</tr>
</table>
<br />
<br />

<!--#if countversions -->
<table width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
	<td class="BabLoginCadreBackground" align="center" valign="middle"> 
		<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center">
		<tr class="BabSiteAdminTitleFontBackground"> 
			<td>{ t_name }</td>
			<td>{ t_versiondate }</td>
			<td>{ t_index }</td>
		</tr>
		<!--#in getnextversion -->
		<!--#if altbg --><tr class="BabSiteAdminFontBackground"><!--#else altbg --><tr class="BabForumBackground1"><!--#endif altbg -->
			<td>{ name }</td>
			<td>{ versiondate }</td>
			<td>
				<!--#if in_index -->
				<img src="{ babSkinPath }images/Puces/action_success.gif" />
				<!--#else in_index -->
				&nbsp;
				<!--#endif in_index -->
			</td>
		</tr>
		<!--#endin getnextversion -->
	</td>
</tr>
</table>
<!--#endif countversions -->

<!--#end viewfil -->

<!--#begin viewcon -->
<table class="BabMailBackground" width="95%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td> 
<table class="BabSiteAdminFontBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr> 
<td colspan="2">{ msgerror } </td>
</tr>       
<tr> 
<td width="40%">{ firstname }: </td>
<td width="60%">{ firstnameval }</td>
</tr>
<tr> 
<td>{ lastname }:</td>
<td>{ lastnameval }</td>
</tr>
<tr> 
<td>{ email }:</td>
<td>{ emailval }</td>
</tr>
<tr> 
<td>{ compagny }:</td>
<td>{ compagnyval }</td>
</tr>
<tr> 
<td>{ hometel }:</td>
<td>{ hometelval }</td>
</tr>
<tr> 
<td>{ mobiletel }:</td>
<td>{ mobiletelval }</td>
</tr>
<tr> 
<td>{ businesstel }:</td>
<td>{ businesstelval }</td>
</tr>
<tr> 
<td>{ businessfax }:</td>
<td>{ businessfaxval }</td>
</tr>
<tr> 
<td>{ jobtitle }:</td>
<td>{ jobtitleval }</td>
</tr>
<tr> 
<td>{ businessaddress }:</td>
<td>{ businessaddressval }</td>
</tr>
<tr> 
<td>{ homeaddress }:</td>
<td>{ homeaddressval }</td>
</tr>
<tr> 
<td> 
<input type="button" name="cancel" value="{ cancel }"  onClick="window.close()" />
</td>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
<!--#end viewcon -->


<!--#begin article_path -->
<!--#in getnextparent -->
<!--#if burl -->
<a href="{ parenturl }">{ parentname }</a>&nbsp;<img src="{ babSkinPath }images/Puces/arrow_right.gif" alt="/" />
<!--#else burl -->
{ parentname }&nbsp;
<!--#endif burl -->
<!--#endin getnextparent -->
<!--#end article_path -->







<!--#begin directories_form -->


<script type="text/javascript">


function setselects(obj) 
	{
	var id = 0;
	if (isNaN(parseInt(obj.value)))
		id = -1;
	else
		id = obj.value;
	var sf = document.forms.searchForm;
	var full = new Object();
	var select = new Object();
	var fields = new Object();
	fields[-1] = new Object();
	<!--#in getnextfieldtosearch -->
		<!--#in selectname -->
		<!--#if isnotcustom -->
			<!--#if fieldcounter "== 0" -->
			full["{ name }"] = "{ description }";
			fields[-1][{ selindex }] = "{ name }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
		<!--#endif isnotcustom -->
		<!--#endin selectname -->

		<!--#in getnextdir -->
		<!--#if fieldcounter "== 0" -->
		fields[{ topicid }]=new Array();
		<!--#endif fieldcounter -->
			<!--#in getnextfield -->
			
			<!--#if fieldcounter "== 0" -->
			fields[{ topicid }][{ fieldindex }] = "{ fieldnamefromdir }";
			full["{ name }"] = "{ description }";
			<!--#endif fieldcounter -->
			<!--#if selected -->
			select[{ fieldcounter }] = "{ name }";
			<!--#endif selected -->
			<!--#endin getnextfield -->
		<!--#endin getnextdir -->

	<!--#endin getnextfieldtosearch -->


	<!--#in getnextfieldtosearch -->
	bab_searchUpdateSelect(id, fields, full, sf.elements['f[{ fieldcounter }]'], select[{ fieldcounter }]);
	<!--#endin getnextfieldtosearch -->
	}


</script>



<p>	

	<label for="bab_SearchDirectorySelect">{ t_filter_by_directory }</label> 

	<select id="bab_SearchDirectorySelect" name="directoryid" onchange="setselects(this)">
			<option value="">{ t_all }</option>
		  <!--#in getnextdir -->
				<!--#if selected -->
					<option value="{ topicid }" selected="selected">{ topictitle }</option>
				<!--#else selected -->
					<option value="{ topicid }">{ topictitle }</option>
				<!--#endif selected -->
		  <!--#endin getnextdir -->
	</select>

	<br />
	<br />
</p>


<p>{ t_search_in_specific_field }</p>


<!--#in getnextfieldtosearch -->
<p>
	<select name="f[{ fieldcounter }]">
	<!--#in selectname -->
		<option { selected } value="{ name }">{ description }</option>
	<!--#endin selectname -->
	</select>

	<input type="text" name="v[{ fieldcounter }]" value="{ value }" size="30" />
</p>
<!--#endin getnextfieldtosearch -->


<!--#end directories_form -->












<!--#begin articles_form -->

<script type="text/javascript">

	function bab_searchArticleSetDate(id) {
		bab_dialog.selectdate(function(arr) {
			document.getElementById(id).value = arr['day'] + '-' + arr['month'] + '-' + arr['year'];
		}); 
	}


</script>





<p>
	<label for="bab_search_article_topic">{ t_topic } :</label>
	<select id="bab_search_article_topic" name="a_topiccategory">
		<option value="">{ t_all }</option>
	  <!--#in getnexttopiccategory -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	  <!--#endin getnexttopiccategory -->
	</select>
</p>

<p>
	
	<label for="bab_search_article_author">{ t_author } :</label>
	<select id="bab_search_article_author" name="a_authorid">
		<option value="">{ t_all }</option>
	<!--#in getnextauthor -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	<!--#endin getnextauthor -->
	</select>
</p>
<table>
	<tr>
		<td>
			<p>
				<label for="bab_search_articles_after">{ t_after } :</label>
				<input  id="bab_search_articles_after" type="text" name="after" value="{ after }" size="10" />

				<a href="" onclick="bab_searchArticleSetDate('bab_search_articles_after'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>

		<td>&nbsp;&nbsp;&nbsp;</td>

		<td>
			<p>
				<label for="bab_search_articles_before">{ t_before } :</label>
				<input  id="bab_search_articles_before" type="text" name="before" value="{ before }" size="10" />

				<a href="" onclick="bab_searchArticleSetDate('bab_search_articles_before'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>
	</tr>
</table>



<!--#end articles_form -->


















<!--#begin calendar_form -->

<script type="text/javascript">

	function bab_searchCalendarSetDate(id) {
		bab_dialog.selectdate(function(arr) {
			document.getElementById(id).value = arr['day'] + '-' + arr['month'] + '-' + arr['year'];
		});
	}


</script>





<p>
	<label for="bab_search_calendar">{ t_calendar } :</label>
	<select id="bab_search_calendar" name="h_calendar">
		<option value="">{ t_all }</option>
	  <!--#in getnextcal -->
		<!--#if selected -->
			<option value="{ value }" selected="selected">{ option }</option>
		<!--#else selected -->
			<option value="{ value }">{ option }</option>
		<!--#endif selected -->
	  <!--#endin getnextcal -->
	</select>
</p>


<table>
	<tr>
		<td>
			<p>
				<label for="bab_search_calendar_after">{ t_after } <span style="color:red">*</span> :</label>
				<input  id="bab_search_calendar_after" type="text" name="after" value="{ after }" size="10" />

				<a href="" onclick="bab_searchCalendarSetDate('bab_search_calendar_after'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>

		<td>&nbsp;&nbsp;&nbsp;</td>

		<td>
			<p>
				<label for="bab_search_calendar_before">{ t_before } <span style="color:red">*</span> :</label>
				<input  id="bab_search_calendar_before" type="text" name="before" value="{ before }" size="10" />

				<a href="" onclick="bab_searchCalendarSetDate('bab_search_calendar_before'); return false;">
					<img border="0" src="{ babInstallPath }skins/ovidentia/images/Puces/calendar.gif" alt="" />
				</a>
			</p>
		</td>
	</tr>
</table>


<p><span style="color:red">*</span>  { t_calendar_boundaries_mandatory }</p>


<!--#end calendar_form -->